workflows/principal/whatsapp-sara.json
{
  "name": "[Le Mans] WhatsApp Sara",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.audioMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "4b94d2ac-53e5-4153-9377-4cc6db20cb1c",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extendedTextMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.conversation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.imageMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('Webhook').item.json.body.data.message.documentWithCaptionMessage.message.documentMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "521f403b-8f26-49ab-a36d-095c364980a1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -496,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Variáveis').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "a2a35bed-db22-4d13-bfe0-b562f598510c",
      "name": "Envio de Documentos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        800
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "=image {{ $('Switch').item.json.body.data.message.documentMessage.fileName }}",
          "mimeType": "={{ $('Switch').item.json.body.data.message.documentMessage.mimetype }}"
        }
      },
      "id": "d7432584-ebb9-42de-a4d4-7395e5793d84",
      "name": "Converter Arquivo1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        800
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "268d365e-6248-4c84-9c82-931560d4a670",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        800
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "f92934de-7b91-40d7-9206-aee48d7c3ebe",
      "name": "Converter Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis').item.json.baseUrl }}/chat/getBase64FromMediaMessage/{{ $('Variáveis').item.json.instancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis').item.json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "9154ae66-94b6-4f56-9b2b-10b3cc27932c",
      "name": "Envio de Imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        608
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "856ea7cf-f406-4667-89c9-74af028be7f7",
      "name": "Filta Msg App",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17694db0-6248-444f-afb9-ff7ed13996ef",
              "name": "pergunta",
              "value": "={{ $('Webhook').item.json.body.data.message.extendedTextMessage.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "644ec6f2-9501-4dac-8222-22d7ef49c8d3",
      "name": "Texto Web",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        176,
        224
      ],
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=data.base64",
        "options": {
          "fileName": "={{ $json.data.fileName }}",
          "mimeType": "={{ $json.data.mimetype }}"
        }
      },
      "id": "325d50d9-c0cc-4e07-aab7-9438859bd9da",
      "name": "Converter Áudio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -48,
        32
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "759ba00b-b1a8-4aa3-b19e-750228fc27c0",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        176,
        32
      ],
      "credentials": {
        "openAiApi": {
          "id": "VwtqktnexzMQCkvM",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "sessionId",
              "value": "={{ $('Variáveis').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "59fd3a53-08be-41db-b91e-9abccd7ef4ad",
              "name": "Audio",
              "value": "={{ $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "1f3efabc-087b-4843-8766-742b9109e955",
              "name": "WhatsWeb",
              "value": "={{ $json.pergunta || ''}}",
              "type": "string"
            },
            {
              "id": "60d6b895-fea6-4d7f-932a-b8771c97242e",
              "name": "WhatsAppApp",
              "value": "={{ $json.mensagem || '' }}",
              "type": "string"
            },
            {
              "id": "f45d0d25-8456-4a53-9290-69eed044964e",
              "name": "Imagem",
              "value": "={{ $json.content || ''}}",
              "type": "string"
            },
            {
              "id": "0d9377f3-acbb-49ed-9254-ef9e3e561465",
              "name": "Documento",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ee83607-b7fc-457e-88eb-a7551373f64d",
      "name": "Filtra Webhook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        416
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.sessionId }}",
        "messageData": "={{ $json.Audio || $json.WhatsWeb || $json.WhatsAppApp || $json.Imagem || $json.mensagem}}",
        "tail": true
      },
      "id": "e29d5358-58fd-4b56-8c78-2a4ef7020d33",
      "name": "Lista Mensagens1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        624,
        416
      ],
      "credentials": {
        "redis": {
          "id": "2VpSPyuHDnJtOR61",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagem",
        "key": "={{ $json.sessionId }}",
        "options": {}
      },
      "id": "67a0475d-1af0-45d7-a248-f7547af0e013",
      "name": "Puxar as Mensagens",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1072,
        416
      ],
      "credentials": {
        "redis": {
          "id": "2VpSPyuHDnJtOR61",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "id": "822f0c0d-2255-43db-9b7f-4d2c998ed63c",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce70488-3d4e-412d-9c28-4858906bc722",
              "name": "chatInput",
              "value": "={{ $('Puxar as Mensagens').item.json.mensagem.join('\\n') }}",
              "type": "string"
            },
            {
              "id": "abca95c7-60a4-474b-95ed-a22557fa8af7",
              "name": "sessionId",
              "value": "={{ $('Wait').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a50b88f4-68d6-40e1-a840-8ccbdd43d43a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        320
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.sessionId }}"
      },
      "id": "d480e940-ddd8-4b48-a6c5-39eeed7a3d80",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1744,
        320
      ],
      "credentials": {
        "redis": {
          "id": "2VpSPyuHDnJtOR61",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
              "leftValue": "={{ $json.mensagem.last() }}",
              "rightValue": "={{ $('Filtra Webhook').item.json.Audio || $('Filtra Webhook').item.json.WhatsWeb || $('Filtra Webhook').item.json.WhatsAppApp || $('Filtra Webhook').item.json.Imagem }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d4f0af6-b746-43a8-aa23-116739bed056",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1296,
        416
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "5ce93970-c72d-4b62-9a45-ac0d7b5ba13b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        848,
        416
      ],
      "webhookId": "850d57a1-e56b-4b82-9d20-98a1ea02a395"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c56a2d51-dab3-4009-bc54-869be72741ed",
              "name": "chatInput",
              "value": "={{ $json.body.data.message.conversation || $json.body.data.message.extendedTextMessage.text || '' }}",
              "type": "string"
            },
            {
              "id": "f6805c99-b4b6-44e0-a547-d113ad49c4b4",
              "name": "sessionId",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "4475712c-d603-4b62-a342-69f26f5260a7",
              "name": "instancia",
              "value": "Demo - Mutup",
              "type": "string"
            },
            {
              "id": "95f252c5-4074-4d35-a3fd-5754bc26998b",
              "name": "tabela_leads",
              "value": "leads",
              "type": "string"
            },
            {
              "id": "5360f4ec-a5f3-4bec-a1b4-56d2775b1226",
              "name": "tabela_chat_histories",
              "value": "n8n_chat_histories",
              "type": "string"
            },
            {
              "id": "32b7f1df-b0b0-4e8c-bd87-c6854178d19e",
              "name": "baseUrl",
              "value": "https://api.mutup.com.br",
              "type": "string"
            },
            {
              "id": "c95b5f35-fe92-48da-97ea-a615b20d829d",
              "name": "apikey",
              "value": "2CFA8E9229D5-4A5E-BE23-154314C474C5",
              "type": "string"
            },
            {
              "id": "9680f633-eeb2-4d4d-992f-7dbd20606765",
              "name": "app.debouncerTime",
              "value": "4",
              "type": "string"
            },
            {
              "id": "7dd85f98-9fbd-4469-9923-ced4c560ead0",
              "name": "linkPreview",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f47e3408-52b1-4945-baa1-c8be41847ce2",
              "name": "digitando",
              "value": 1200,
              "type": "number"
            },
            {
              "id": "0c26fb49-9155-4f8b-afb9-74a92fe117a0",
              "name": "content.quoted",
              "value": "={{ $json.body.data.contextInfo.quotedMessage.conversation }} {{ $json.body.data.contextInfo.quotedMessage.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        416
      ],
      "id": "a0235d72-2b04-46c6-b8d2-38c30166d259",
      "name": "Variáveis"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1168,
        416
      ],
      "id": "e7253c8e-c4e7-4740-b81a-b0c9898cd871",
      "name": "Busca lead",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        416
      ],
      "id": "c4e4bf1c-a463-4ef5-8488-26e354cbaa79",
      "name": "Existe lead?"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Variáveis').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        512
      ],
      "id": "ce5ea8a5-b69d-456d-a5b2-1ba117a6ee15",
      "name": "Cadastrar lead",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Variáveis').item.json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        320
      ],
      "id": "3921070e-88ca-4693-bd34-8e16bddbfff4",
      "name": "Get a lead",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Variáveis').item.json.instancia }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "convertToMp4": true
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -272,
        32
      ],
      "id": "de3c1388-6eb8-4d43-9f47-ce1455a1a177",
      "name": "Converter áudio em base64",
      "credentials": {
        "evolutionApi": {
          "id": "QbHyXV5Y88So5N2X",
          "name": "Evolution API - Demo - Mutup"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atendimento-le-mans",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1616,
        416
      ],
      "id": "5f99b842-b76d-4509-b7ac-ed80579b521b",
      "name": "Webhook",
      "webhookId": "eee5aaa6-30f8-4df2-9145-2ddc42345d83"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IbPaWpcPpEoL3j2Z",
          "mode": "list",
          "cachedResultName": "[Le Mans] Multi-agentes de atendimento | Agente Supervisor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatInput": "={{ $('Edit Fields').item.json.chatInput }}",
            "sessionId": "={{ $('Edit Fields').item.json.sessionId }}",
            "instancia": "={{ $('Variáveis').item.json.instancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1968,
        320
      ],
      "id": "780f1118-ac44-4220-bf5a-ebd3d238b8cf",
      "name": "Agente Supervisor"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise essa imagem, o que tem nela?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        176,
        608
      ],
      "id": "17da37f0-3199-4f0c-b2ee-d2354caef366",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "VwtqktnexzMQCkvM",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "content": "# Evolution API + Buffer + Tratamento da mensagem",
        "height": 992,
        "width": 3872
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1696,
        -32
      ],
      "id": "c58dafc8-9177-4cba-8608-bb6e85b76d71",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.mutup.com.br",
            "user-agent": "axios/1.7.9",
            "content-length": "883",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.mutup.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b248f33ad92d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Demo - Mutup",
            "data": {
              "key": {
                "remoteJid": "5511971654175@s.whatsapp.net",
                "fromMe": false,
                "id": "3A060E73B4976398366F"
              },
              "pushName": "Matheus Pimenta",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "b+ViHrHff6iv+w==",
                    "senderTimestamp": "1748460651",
                    "recipientKeyHash": "gk7zsLvsW8osrA==",
                    "recipientTimestamp": "1753728669"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "7WUbpVn+z0ydHdCmZco4nvRJ0rnv+deCGVLk5ZO/t5A="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1753807328,
              "instanceId": "3cf04e27-45a8-4232-af6a-616c62837fb6",
              "source": "ios"
            },
            "destination": "https://webhook.mutup.com.br/webhook/atendimento-le-mans",
            "date_time": "2025-07-29T13:42:12.906Z",
            "sender": "5511973569116@s.whatsapp.net",
            "server_url": "https://api.mutup.com.br",
            "apikey": "7B4A969E33AC-4229-9878-70D505DB5A68"
          },
          "webhookUrl": "https://webhook.mutup.com.br/webhook/atendimento-le-mans",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Converter áudio em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Texto Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filta Msg App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio de Imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio de Documentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio de Documentos1": {
      "main": [
        [
          {
            "node": "Converter Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Arquivo1": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Filtra Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio de Imagens": {
      "main": [
        [
          {
            "node": "Converter Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filta Msg App": {
      "main": [
        [
          {
            "node": "Filtra Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto Web": {
      "main": [
        [
          {
            "node": "Filtra Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Filtra Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Webhook": {
      "main": [
        [
          {
            "node": "Lista Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Mensagens1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar as Mensagens": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Agente Supervisor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Puxar as Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis": {
      "main": [
        [
          {
            "node": "Busca lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca lead": {
      "main": [
        [
          {
            "node": "Existe lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe lead?": {
      "main": [
        [
          {
            "node": "Get a lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastrar lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastrar lead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a lead": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter áudio em base64": {
      "main": [
        [
          {
            "node": "Converter Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variáveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Filtra Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b7f1c42-8816-4db8-aa56-c2eb96c11082",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ca02166f23c8f53784c9d6fc5032cdb540e96d220912a3be070094553e6a688"
  },
  "id": "Co3SHrCfNFyen43P",
  "tags": [
    {
      "createdAt": "2025-05-31T04:45:02.711Z",
      "updatedAt": "2025-05-31T04:45:02.711Z",
      "id": "cZkMhb14uCES1XgE",
      "name": "Le Mans"
    },
    {
      "createdAt": "2025-05-31T04:45:04.403Z",
      "updatedAt": "2025-05-31T04:45:04.403Z",
      "id": "si1LFUJy16VAkcft",
      "name": "Clientes"
    },
    {
      "createdAt": "2025-06-06T17:17:50.862Z",
      "updatedAt": "2025-06-06T17:43:33.466Z",
      "id": "ZRRqFYqPBLFCmH8u",
      "name": "AI Agent"
    }
  ]
}