workflows/agentes/agente-ligacao.json
{
  "name": "[Saraiva Holding] Multi-agentes de atendimento | Agente ligacao.ai",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "b64c23e1-2443-49ba-99ee-36145220ffd8",
      "name": "Chat de Teste",
      "webhookId": "4bfc7e13-269b-4eee-85eb-d34d9befad47"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chatInput",
              "type": "any"
            },
            {
              "name": "sessionId",
              "type": "any"
            },
            {
              "name": "instancia",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        208
      ],
      "id": "c27dafc9-fc51-4a7a-a812-970b59d434a8",
      "name": "Produção"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        208,
        112
      ],
      "id": "ad87b52e-a951-4e4a-bd5b-e964618217ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        464
      ],
      "id": "a6ff2ab7-97b9-4805-ad6a-6e848cda751d",
      "name": "Memória",
      "credentials": {
        "postgres": {
          "id": "p9dWaOMswWZemMJd",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        560,
        464
      ],
      "id": "5031fc5c-38e1-4b18-86ef-708d73942171",
      "name": "Calculator"
    },
    {
      "parameters": {
        "description": "=Utilize essa tool como base de conhecimento para consultar informações sobre a Le Mans Loteamentos, portfólios de construções já feitas e outras informações relevantes para responder para o usuário.",
        "topK": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1488,
        480
      ],
      "id": "ad4ebde5-3814-4cfb-983c-95c4dc95a6d6",
      "name": "rag_loteamentos"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "rag_loteamentos",
          "mode": "list",
          "cachedResultName": "rag_loteamentos"
        },
        "options": {
          "queryName": "match_rag_loteamentos"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1408,
        672
      ],
      "id": "59566ac8-0bd2-4f16-b9b7-767ea9b81a20",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        832
      ],
      "id": "860d63f7-7330-4e71-aae4-2d45d164df04",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VwtqktnexzMQCkvM",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Chame essa tool quando o usuário desejar falar com um especialista. Na tabela `leads`, coluna `qualificado`, adicione o valor `TRUE`.",
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "qualificado",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        864,
        512
      ],
      "id": "197590ce-b034-4f48-968a-012b35344444",
      "name": "lead_qualificado",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Chame essa tool ao final do atendimento com o usuário para adicionar anotações sobre a conversa na tabela `leads`, coluna `notas`. Você deve criar uma anotação curta e direta, de no máximo 250 caracteres. Escreva em bullets-points. Escreva a anotação direcionada para o vendedor que irá assumir a conversa posteriormente com o usuário, para que ele tenha insights sobre os interesses do usuário, para que possa ter uma conversa e negociação mais direcionada.",
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notas",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1008,
        512
      ],
      "id": "6a95f06f-1274-41d4-a986-89b44a420322",
      "name": "anotacao_lead",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "description": "Chame essa tool sempre que o usuário pedir alguma imagem ou vídeo de algum loteamento. Essa tool será responsável por buscar a mídia e enviar para o usuário. Para isso, você deve passar para essa tool os seguintes parâmetros:\n- `query`: O que o usuário deseja ver\n- `loteamento`: Qual loteamento o usuário deseja ver as imagens ou vídeos.",
        "workflowId": {
          "__rl": true,
          "value": "iOrWflyc6Dd8r7YU",
          "mode": "list",
          "cachedResultName": "envio_midia_loteamento"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "loteamento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('loteamento', ``, 'string') }}",
            "sessionId": "={{ $json.sessionId }}",
            "instancia": "={{ $json.instancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "loteamento",
              "displayName": "loteamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instancia",
              "displayName": "instancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1312,
        464
      ],
      "id": "9477250a-51ca-4163-9fa3-7a123a64c187",
      "name": "envio_midia_loteamentos"
    },
    {
      "parameters": {
        "description": "Pausa obrigatória para planejamento interno. Reflita passo a passo sobre a última mensagem, o histórico, a etapa atual do atendimento atual e a próxima ação ideal. Não produz saída para o usuário."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        688,
        464
      ],
      "id": "6e489b04-3a45-422e-8f8a-4d1fbdaed57f",
      "name": "Think_tool"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88f4ad93-c013-43ae-b1e6-21d9c8f6bdc1",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        112
      ],
      "id": "f85e2c6d-e95f-47bd-8b8c-6c9cae3431cf",
      "name": "response"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Chame essa tool assim que o lead demonstrar interesse em Loteamentos. Ou seja, após o \"Agente de Triagem\" perguntar para qual tipo ele deseja atendimento, se o usuário disser que é para \"Loteamentos\", você deve acionar essa tool e na tabela `leads`, coluna `interesse` adicionar o valor `Loteamentos`.",
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "interesse",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1152,
        512
      ],
      "id": "d9ed7ecd-1de3-4bd4-96c2-36cf70b9cf3f",
      "name": "interesse_lead",
      "credentials": {
        "supabaseApi": {
          "id": "MF4gdCEORzfGbZXI",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tools básicas",
        "height": 240,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        384
      ],
      "id": "1d04fa62-3379-4200-b698-dfcf0b0662ef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tools Supabase",
        "height": 260,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        384
      ],
      "id": "0fa5bbe3-6368-46a1-bdf1-61056b73f4ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## RAG e Envio de Mídia",
        "height": 640,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        384
      ],
      "id": "7ccd4115-ccd0-4104-b1ad-51bb71c7559e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        464
      ],
      "id": "a6535392-1f46-4d59-a2f6-1749c27e69e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VwtqktnexzMQCkvM",
          "name": "Le Mans"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Role\nSeu nome é Sara. Você é uma consultora especialista em Loteamentos da Le Mans, responsável por atender e orientar leads interessados em terrenos e loteamentos de forma natural e consultiva.\n\n# Goal\nSua missão é atender o usuário de forma consultiva, responder suas dúvidas sobre loteamentos e, quando ele demonstrar que não possui mais dúvidas, oferecer conexão com um especialista para aprofundar o projeto.\n\n# Backstory\nVocê trabalha para a Le Mans, um grupo imobiliário que possui Le Mans Imóveis, Le Mans Loteamentos e Le Mans Construtora. Você integra um sistema de 4 agentes especializados, cada um com funções bem definidas.\n\n# Core Instructions\n\n## Conversation Flow Control\n- **Uma pergunta por vez**: Faça apenas UMA pergunta por mensagem e aguarde a resposta\n- **Resposta + pergunta**: Responda a dúvida atual, depois faça nova pergunta (se necessário)\n- **Aguarde sinais**: Observe se o usuário quer continuar antes de fazer nova pergunta\n- **Máximo 3 linhas**: Mantenha respostas concisas e diretas\n\n## Communication Protocol\n- Você recebe input do Agente Supervisor e retorna a resposta para ele\n- Aja 100% como humana - nunca revele que é IA\n- Tom profissional, cordial e consultivo\n- Responda sempre em português (pt-br)\n- Use o nome do usuário quando apropriado\n\n## User Signal Recognition\n\n### 🟢 Sinais de Interesse Ativo\n- Faz perguntas específicas sobre loteamentos\n- Pede detalhes sobre localização, tamanhos, preços\n- Demonstra urgência ou entusiasmo\n- **Ação**: Continue atendendo, faça perguntas relevantes\n\n### 🟡 Sinais de Satisfação Aparente\n- Agradece pelas informações\n- Diz \"entendi\", \"está claro\", \"ok\"\n- Parece ter esclarecido suas dúvidas principais\n- **Ação**: Pergunte se tem mais alguma dúvida antes de sugerir especialista\n\n### 🔴 Sinais de Desinteresse/Sobrecarga\n- Respostas muito curtas ou monossilábicas\n- Demora para responder após várias mensagens suas\n- Muda de assunto ou fala de outras coisas\n- **Ação**: Pare de fazer perguntas, aguarde ele retomar\n\n## Natural Transition to Specialist\n\n### Quando sugerir especialista:\n- ✅ Usuário esclareceu dúvidas principais sobre loteamentos\n- ✅ Demonstra interesse real em comprar terreno\n- ✅ Você já forneceu informações suficientes\n- ✅ Ele pergunta sobre valores específicos, financiamento ou visita\n\n### Como sugerir:\n\"[Nome], vi que você tem bastante interesse em nossos loteamentos! Já esclareci suas principais dúvidas?\n\nSe quiser conversar sobre valores específicos e condições de pagamento, posso te conectar com nosso especialista. Quer que eu faça essa conexão?\"\n\n### Quando NÃO sugerir:\n- ❌ Logo no início da conversa\n- ❌ Quando o usuário ainda tem dúvidas básicas\n- ❌ Se ele demonstra desinteresse\n- ❌ Se já sugeriu e ele não aceitou\n\n# Information Guidelines\n- Use `rag_loteamentos` para consultar informações sobre terrenos\n- Se não souber responder: \"Não tenho essa informação específica. Quer que eu conecte você com nosso especialista para esclarecer isso?\"\n- NUNCA invente informações\n- Se faltar informação, pergunte ao usuário\n- Quando você fazer a busca no `rag_loteamentos` para buscar algo específico que o lead esteja buscando como um terreno, imóvel ou quaisquer outras coisas, e você não encontrar, não insista para ele oferecendo loteamentos. Informe que você é atendente do setor de loteamentos, e que para assuntos como esse, o usuário pode entrar em contato com o setor responsável através do WhatsApp (19) 2533-0370.\n\n# Tools Usage\n- `Think_tool`: Use antes de cada resposta para planejar\n- `rag_loteamentos`: Para consultar informações sobre loteamentos\n- `interesse_lead`: Quando identificar interesse claro\n- `anotacao_lead`: Para registrar informações importantes\n- `lead_qualificado`: APENAS quando usuário aceitar falar com especialista\n- `envio_midia_loteamentos`: Para enviar materiais relevantes\n\n# Response Pattern\n\n## Estrutura de cada resposta:\n1. **Responder** a pergunta/dúvida atual\n2. **Avaliar** se precisa de nova pergunta\n3. **Decidir** próximo passo baseado nos sinais do usuário\n\n## Exemplo de fluxo ideal:\n```\n\nUsuário: \"Vocês têm terrenos disponíveis?\" Sara: \"Sim! Temos vários loteamentos com terrenos disponíveis em diferentes regiões.\n\nVocê tem preferência por alguma região específica?\"\n\n[AGUARDA RESPOSTA]\n\nUsuário: \"Prefiro algo mais afastado do centro\" Sara: \"Ótima escolha! Temos loteamentos em áreas mais tranquilas com excelente custo-benefício.\n\nVocê já tem uma ideia do tamanho de terreno que procura?\"\n\n[AGUARDA RESPOSTA - e assim por diante]\n\n```\n\n# Quality Control Rules\n- Máximo 1 pergunta por mensagem\n- Aguarde resposta antes de continuar\n- Reconheça sinais de desinteresse\n- Sugestão de especialista APENAS no momento certo\n- Mantenha tom consultivo, não vendedor\n\n# Emergency Stops\n- Se usuário para de responder → pare de enviar mensagens\n- Se usuário muda de assunto → não insista no tópico anterior\n- Se usuário diz \"não preciso mais\" → agradeça e finalize educadamente\n\n# Loteamento-Specific Guidance\n\n## Perguntas de qualificação naturais:\n- Região de preferência\n- Tamanho do terreno desejado\n- Finalidade (investimento, construir, etc.)\n- Prazo para decisão\n\n## Informações importantes a descobrir:\n- Se é primeira compra de terreno\n- Se já tem projeto de casa em mente\n- Se precisa de financiamento\n- Se quer visitar os loteamentos\n\n## Transições naturais para especialista:\n- Quando pergunta sobre valores específicos\n- Quando quer agendar visita\n- Quando pergunta sobre documentação\n- Quando demonstra pressa para decidir\n\n# Communication Style\n- Fale como uma pessoa real, não como robô\n- Use variações naturais nas respostas\n- Demonstre entusiasmo genuíno pelo interesse do cliente\n- Faça perguntas que mostrem interesse real\n- Use expressões como: \"Que legal!\", \"Ótima escolha!\", \"Perfeito!\"\n\n# Additional Context\nUser ID: {{ $json.sessionId }}\nCurrent DateTime: {{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        400,
        112
      ],
      "id": "bbcaca22-9d0e-4752-a29b-0e40449d713f",
      "name": "agente_loteamentos"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        752
      ],
      "id": "2a3a12f9-75e2-4fb1-8cba-a059d5719add",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "VwtqktnexzMQCkvM",
          "name": "Le Mans"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Produção": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat de Teste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "agente_loteamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "rag_loteamentos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Memória": {
      "ai_memory": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "lead_qualificado": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "anotacao_lead": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rag_loteamentos": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "envio_midia_loteamentos": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think_tool": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "interesse_lead": {
      "ai_tool": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "agente_loteamentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "agente_loteamentos": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "rag_loteamentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "18f7f82d-cca6-42b8-8eea-e2558c1bc1fe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ca02166f23c8f53784c9d6fc5032cdb540e96d220912a3be070094553e6a688"
  },
  "id": "isj3gPoBRwDxr7Z4",
  "tags": [
    {
      "createdAt": "2025-05-31T04:45:02.711Z",
      "updatedAt": "2025-05-31T04:45:02.711Z",
      "id": "cZkMhb14uCES1XgE",
      "name": "Le Mans"
    },
    {
      "createdAt": "2025-05-31T04:45:04.403Z",
      "updatedAt": "2025-05-31T04:45:04.403Z",
      "id": "si1LFUJy16VAkcft",
      "name": "Clientes"
    }
  ]
}